        td, h2 {background-color: #FF00FF}
        h3, h6 {background-color: #EA0F2C}
        h5 {background-color: #0F3CAA}
        h4 {background-color: #AA0A3f}
        ul {background-color: #FF0000}
        #mystyle{background-color: #123456}
        .mystyle{background-color: #459930}
        div {
                background-color: #0FF0FF !important;
                height: 10%;
                width: 1em;
                border: 1px;
        }
        /*Can combine, for example:*/
        h4.notpurple {background-color: #00FF00}
        /*All h4s with the class notpurple has green bg*/
        /*!important tag will make a rule override any other rule*/

        /*Child Elements: ONLY DIRECT CHILDREN*/ 
        ul > li {background color: blueviolet}

        /*Descendant: Everything descending from a div*/

        div P {background color: #00FF00}

        /*Pseudo selector*/
        table:hover {background-color: #000000} /*When someone hovers*/
        table:active{background-color: #ABCDEF} /*Click on the table*/
        ul:first{}
        ul:last{}
        /*Attribute*/
        /*Element[attr="value"]*/
        div[class="note"]{ color: #FFFF00}